html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10 */
}
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}
/** GLOBALS */

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
a {
    text-decoration: none;
    color: #000;
}
.container{
    max-width: 120rem;
    /* margin-inline: auto; */
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
}

/** NAV AND HEADER */

.title {
    margin-top: 5rem;
    text-align: center;
}

.title span{
    color: #15699a;
}

.navegation-container{
    border-top: .1rem solid #c0bbbb;
}

.main-nav{
    /* border-color: #ccc6c6;
    border-top-style: solid;
    border-width: 1px; */
    padding: 2rem 0;
    display: flex;
    /* default -below */
    /* flex-direction: row; */
    justify-content: space-between;
}

.hero{
    background-image: url('../images/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/** Category list */

.categories{
    padding-top: 5rem;
}

.category a{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.category a:hover {
    background-color: #15699a;
    color: #fff;
    border-bottom-right-radius: 1rem;
}

.categories h2{
    text-align: center;
}

.categories-list{
    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: repeat(4, 200px); */
    /* grid-template-rows: 100px 100px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

/** About us  */
.about-us{
    background-image: linear-gradient( to right, transparent 50%, #15699a 50%, #15699a 100% ), url('../images/nosotros.jpg');
    background-position: left center;
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
} 
/* Es mas facil crear este diseño con Flexbox */
.about-us-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
}

.about-us-text{
    grid-column: 2 / 3;
    color: #fff;
}