/* Epecificidad */
/* 
1 2 3 4
0 0 0 0 
*/

/* 
1. Notacion !Important
2. Id's
3. Clases
4. Etiquetas 
*/

/* Estilos de escribir CSS */

/* Modulos, BEM, SMACSS */

/* 
Box Model
En css todo es una caja y su forma o medidas depende de 4 cosas 
*/

/* 
* Content
* Padding
* Border
* Margin 
*/

/* 
Display inline and block

inline: no se puede poner width and hight

block: se posicionan uno debajo de otro

inline-block: puedes poner width and hight y se alinean inline 
*/